.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f7ece0;
    color: #000000;
    line-height: 1.6;
}

.header {
    background-color: #0A0F27;
    color: #ffffff;
    text-align: center;
    padding: 4rem 2rem;
    margin-bottom: 3rem;
    border-bottom: 5px solid #e8dbce;
}

.header h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.header p {
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 0.03em;
}

/* projects style */
.projects {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.projects h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: normal;
}

.project-box {
    display: block;
    background-color: #D4D4D4;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project-box h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #151515;
    font-weight: normal;
}

.project-box p {
    font-size: 1rem;
    color: #676767;
    text-align: left;
    margin-left: 2rem;
}

img {
    width: 70%;
}

.project-img {
    width: 50%;
}

.box {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.box img {
    width: 45%;
    max-width: 500px;
}

.box ul {
    flex: 1;
    font-size: 1rem;
    list-style-type: disc;
    padding-left: 1.5rem;
}

.back {
    color:#e8dbce;
    background-color: #0A0F27;
    padding: 0.5rem;
    font-size: smaller;
    border-radius: 12px;
    text-decoration: none;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    margin-top: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: background-color 0.3s;
}

.button-1 {background-color: orange;}
.button-2 {background-color: rgb(62, 195, 62);}
.button-3 {background-color: rgb(62, 195, 62);}
.button-4 {background-color: rgb(183, 32, 32);}
.button-5 {background-color: rgb(62, 195, 62);}
.button-6 {background-color: rgb(62, 195, 62);}
.button-7 {background-color: rgb(183, 32, 32);}
.button-8 {background-color: rgb(62, 195, 62);}
.button-9 {background-color: rgb(62, 195, 62);}

.button-1:hover {background-color: rgb(162, 107, 4)}
.button-2:hover {background-color: rgb(38, 121, 38);}
.button-3:hover {background-color: rgb(38, 121, 38);}
.button-4:hover {background-color: rgb(127, 17, 17);}
.button-5:hover {background-color: rgb(38, 121, 38);}
.button-6:hover {background-color: rgb(38, 121, 38);}
.button-7:hover {background-color: rgb(127, 17, 17);}
.button-8:hover {background-color: rgb(38, 121, 38);}
.button-9:hover {background-color: rgb(38, 121, 38);}

.legend {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.legend-image-1 {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.legend-image-2 {
    width: 60%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.button-21 {background-color: rgb(62, 195, 62);}
.button-22 {background-color: rgb(62, 195, 62);}
.button-23 {background-color: rgb(62, 195, 62);}
.button-24 {background-color: orange;}
.button-25 {background-color: orange;}
.button-26 {background-color: rgb(183, 32, 32);}
.button-27 {background-color: rgb(62, 195, 62);}
.button-28 {background-color: orange;}
.button-29 {background-color: orange;}

.button-21:hover {background-color: rgb(38, 121, 38);}
.button-22:hover {background-color: rgb(38, 121, 38);}
.button-23:hover {background-color: rgb(38, 121, 38);}
.button-24:hover {background-color: rgb(162, 107, 4);}
.button-25:hover {background-color: rgb(162, 107, 4);}
.button-26:hover {background-color: rgb(127, 17, 17);}
.button-27:hover {background-color: rgb(38, 121, 38);}
.button-28:hover {background-color: rgb(162, 107, 4);}
.button-29:hover {background-color: rgb(162, 107, 4);}

.new-buttons {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.new-button {
    width: 50%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}